#title_caption I Code to Travel.
#container
    #travellers_container
        #container_title Travellers
        #search_box_info Enter the name of the place you want to travel to:
        <input id="search_box"></input>
    #providers_container
        #container_title Providers
        #description_title Provide a description of the project:
        <textarea id="project_description"></textarea>
        #incentives_container
            #incentives_title What are you willing to provide?
            <input class="incentive" type="checkbox" value="Airfare">
                .incentive_type Airfare
            <input class="incentive" type="checkbox" value="Accomadation">
                .incentive_type Accomadation
            <input class="incentive" type="checkbox" value="Food">
                .incentive_type Food
            <input class="incentive" type="checkbox" value="Other">
                .incentive_type Other