html
  head
    title='Travelling Coder'
  body
    #container
      #travellers_container
        #container_title Travellers
        #search_box_info Enter the name of the place you want to travel to.
        <inout id="search_box"></input>
